model:
  class_name: model.rayzer.RayZer
  image_tokenizer:
    image_size: 256
    patch_size: 16    # use 8 if you have enough compute
    in_channels: 3
  input_with_pe: true
  target_image:
    height: 256
    width: 256
    patch_size: 16    # use 8 if you have enough compute
    in_channels: 6
  transformer:
    d: 768
    d_head: 64
    encoder_n_layer: 8
    encoder_geom_n_layer: 12
    decoder_n_layer: 12
    special_init: true
    depth_init: true
    use_qk_norm: true
  scene_latent:
    length: 3072
  pose_latent:
    length: 1
    canonical: middle   # use middle frame as reference frame

training:
  amp_dtype: bf16
  api_key_path: ./configs/api_keys.yaml
  batch_size_per_gpu: 1
  beta1: 0.9
  beta2: 0.95
  allowed_gradnorm_factor: 2.0
  center_crop: true
  scene_scale_factor: 1.35
  checkpoint_dir: ./experiments/checkpoints/rayzer_dl3dv
  checkpoint_every: 2000
  dataset_name: data.dataset_scene.Dataset
  dataset_path: ./data/dl3dv10k_train.txt
  grad_accum_steps: 1
  grad_checkpoint_every: 1
  grad_clip_norm: 1.0

  l2_loss_weight: 1.0
  lpips_loss_weight: 0.0
  perceptual_loss_weight: 0.2

  lr: 0.0004
  train_steps: 100000
  no_pass_steps: 100

  num_views: 24
  num_input_views: 16
  num_target_views: 8
  target_has_input: false
  random_split: true
  view_selector:  # dl3dv
    type: two_frame
    min_frame_dist: 64
    max_frame_dist: 96
    use_curriculum: true
    curriculum_iter: 30000
    curriculum_start_min_frame_dist: 48
    curriculum_start_max_frame_dist: 64
  num_threads: 1
  num_workers: 1
  prefetch_factor: 8
  print_every: 20

  square_crop: true
  use_amp: true
  use_rel_pose: false
  use_tf32: true
  vis_every: 1000

  wandb_project: rayzer
  wandb_exp_name: rayzer_dl3dv
  wandb_log_every: 50

  warmup: 3000
  weight_decay: 0.05

  render_video: render_video

# inference / evaluation
inference:
  if_inference: False
  export_cameras: True
  compute_metrics: False
  # view_idx_file_path: ./data/rayzer_evaluation_index_dl3dv_even.json
  view_idx_file_path: ./data/rayzer_evaluation_mine.json
  render_video: False
  render_video_config:
    traj_type: interpolate
    num_frames: 30
    loop_video: True 
    order_poses: False

  